/*************** Header ***************/
.myHeader {
  position: absolute;
  display: block;
  height: 10vh;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: white;
}
/* Logo */
.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100%;
  left: 3vw;
  background-image: url("DesignAssets/Images/Logo-White.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Navigation Items */
.navTabs {
  position: absolute;
  top: 50%;
  right: 3vw;
  width: 50vw;
  text-align: right;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.tabContainer {
  padding: 0;
  margin: 0;
}
.tab, .tab-last {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin-right: 7%;
}
.tab-last {
  margin: 0;
}
/* Items-white */
#home, #about, #work, #more, #contact {
  position: relative;
  font-size: 15px;
  line-height: normal;
  color: white;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
  -webkit-transition:.4s ease-in-out;
  -moz-transition:.4s ease-in-out;
  transition:.4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
/* On Hover */
#home:hover, #about:hover, #work:hover, #more:hover, #contact:hover {
  -webkit-transition:.2s ease-in-out;
  -moz-transition:.2s ease-in-out;
  transition:.2s ease-in-out;
}
/* Underline Animation */
#home:before, #about:before, #work:before, #more:before, #contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
#home:hover:before, #about:hover:before, #work:hover:before, #more:hover:before, #contact:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Items-black */
#home-b, #about-b, #work-b, #more-b, #contact-b {
  position: relative;
  font-size: 15px;
  line-height: normal;
  color: black;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
  -webkit-transition:.4s ease-in-out;
  -moz-transition:.4s ease-in-out;
  transition:.4s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
/* On Hover */
#home-b:hover, #about-b:hover, #work-b:hover, #more-b:hover, #contact-b:hover {
  -webkit-transition:.2s ease-in-out;
  -moz-transition:.2s ease-in-out;
  transition:.2s ease-in-out;
}
/* Underline Animation */
#home-b:before, #about-b:before, #work-b:before, #more-b:before, #contact-b:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
#home-b:hover:before, #about-b:hover:before, #work-b:hover:before, #more-b:hover:before, #contact-b:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*************** Content Containers ***************/
.container-fluid {
  padding: 0;
}

/*************** Home Screen ***************/
.homePageImg {
  width: 100vw;
  height: 100vh;
  background-image: url("DesignAssets/Images/ProfilePic.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#myName {
  position: absolute;
  top: 48%;
  left: 35%;
  width: 60vw;
  color: white;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 60px;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#myInfo {
  position: absolute;
  top: 55%;
  left: 5%;
  color: orange;
  overflow-wrap: break-word;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
  font-size: 24px;
  text-align: left;
}

/*************** Split Sections for Screens ***************/
.section-category {
  position: absolute;
  display: block;
  height: 100%;
  width: 45%;
}
.section-info {
  position: absolute;
  display: block;
  left: 45%;
  height: 100%;
  width: 55%;
  background-color: white;
  overflow: scroll;
}

/*************** About Screen ***************/
.aboutPageImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("DesignAssets/Images/AboutPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutImg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("DesignAssets/Images/about-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* Safari 4.0-8.0 */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  /* Other browsers */
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
#aboutContainer {
  position: absolute;
  width: 70%;
  max-height: 70%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#aboutTitle {
  font: bold 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
}
#aboutContent {
  font: 16px/1.4 'Open Sans', arial, sans-serif;
  padding-bottom: 10%;
}

/*************** Work Screen ***************/
.workPageImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("DesignAssets/Images/WorkPic.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#workImg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("DesignAssets/Images/work-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* Safari 4.0-8.0 */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  /* Other browsers */
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
#workContainer {
  position: absolute;
  width: 70%;
  max-height: 75%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#workTitle {
  font: bold 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
}
#workContent {
  font: 16px/1.4 'Open Sans', arial, sans-serif;
  padding-bottom: 10%;
}

/*************** More Screen ***************/
.morePageImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("DesignAssets/Images/MorePic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#moreImg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("DesignAssets/Images/more-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* Safari 4.0-8.0 */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  /* Other browsers */
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
#moreContainer {
  position: absolute;
  width: 70%;
  max-height: 75%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#moreTitle {
  font: bold 'Open Sans', arial, sans-serif;
  letter-spacing: 0.10em;
}
#moreContent {
  font: 16px/1.4 'Open Sans', arial, sans-serif;
  padding-bottom: 10%;
}

/*************** Fade In Animation ***************/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
